In [2]:
# Install the required library
#!pip install pandas --upgrade
import os
import csv
import pandas as pd
from itertools import chain

## Read datasets

In [3]:
#set the path
path=r'D:\2021 Fall\5310 SQL\group project\raw data' 
os.chdir(path)
def file_name(file_dir):   
    for root, dirs, files in os.walk(file_dir):  
        return files  
files=file_name(path)
files

['IMDb movies.csv',
 'IMDb movies.csv.gz',
 'IMDb names.csv',
 'IMDb names.csv.gz',
 'IMDb ratings.csv',
 'IMDb ratings.csv.gz',
 'IMDb title_principals.csv',
 'IMDb title_principals.csv.gz']

In [4]:
#read the datasets
movies = pd.read_csv("IMDb movies.csv.gz", low_memory=False)
names = pd.read_csv("IMDb names.csv.gz")
ratings = pd.read_csv("IMDb ratings.csv.gz")
title_principals = pd.read_csv("IMDb title_principals.csv.gz")

movies.loc[movies["year"] == "TV Movie 2019", "year"] = "2019"
movies = movies.rename(columns={"worlwide_gross_income": "worldwide_gross_income"})

monolitic = title_principals.merge(names).merge(ratings).merge(movies)

In [5]:
##Create the Country table
country = monolitic[['imdb_title_id','country']].drop_duplicates()
country_country = country['country'].str.split(', ',expand=True)
country_index = list(country['imdb_title_id'])
country_columns = country_country.columns.tolist()
#build imdb_title_id column
imdb_title_id = [[item] * len(country_columns) for item in country_index]
imdb_title_id = list(chain(*imdb_title_id))
# build country column
country_test = country_country.values.reshape((-1,)).tolist()
#build country table
country = pd.DataFrame({"imdb_title_id": imdb_title_id, "country":country_test}).drop_duplicates().dropna()
country.head(10)

    imdb_title_id    country
0       tt0000009        USA
25      tt0020403        USA
50      tt0000574  Australia
75      tt0001892    Germany
76      tt0001892    Denmark
100     tt0012249    Germany
125     tt0015842    Germany
150     tt0003419    Germany
175     tt0004026    Germany
200     tt0011837    Germany

In [6]:
##Create the Genre table
Genre = monolitic[['imdb_title_id','genre']].drop_duplicates()
Genre_Genre = Genre['genre'].str.split(', ',expand=True)
Genre_index = list(Genre['imdb_title_id'])
Genre_columns = Genre_Genre.columns.tolist()
imdb_title_id = [[item] * len(Genre_columns) for item in Genre_index]
imdb_title_id = list(chain(*imdb_title_id))
Genre_test = Genre_Genre.values.reshape((-1,)).tolist()
Genre = pd.DataFrame({"imdb_title_id": imdb_title_id, "genre":Genre_test}).drop_duplicates().dropna()
Genre.head(10)

   imdb_title_id      genre
0      tt0000009    Romance
3      tt0020403    Musical
6      tt0000574  Biography
7      tt0000574      Crime
8      tt0000574      Drama
9      tt0001892      Drama
12     tt0012249      Drama
15     tt0015842      Drama
18     tt0003419      Drama
19     tt0003419    Fantasy

In [7]:
##Create the Language table
Language = monolitic[['imdb_title_id','language']].drop_duplicates()
Language_Language = Language['language'].str.split(', ',expand=True)
Language_index = list(Language['imdb_title_id'])
Language_columns = Language_Language.columns.tolist()
imdb_title_id = [[item] * len(Language_columns) for item in Language_index]
imdb_title_id = list(chain(*imdb_title_id))
Language_test = Language_Language.values.reshape((-1,)).tolist()
Language = pd.DataFrame({"imdb_title_id": imdb_title_id, "language":Language_test}).drop_duplicates().dropna()
Language.head(10)

    imdb_title_id language
0       tt0000009     None
18      tt0020403  English
36      tt0000574     None
72      tt0012249   German
90      tt0015842   German
108     tt0003419   German
109     tt0003419  English
126     tt0004026   German
162     tt0014524   German
180     tt0002101  English

## Save all the tables into a dictionary

In [8]:
ThirdNF = {
    "IMDb_Movie": monolitic[
        [
            "imdb_title_id",
            "title",
            "year",
            "duration",
            "director",
            "writer",
            "production_company",
            "actors",
            "description",
            "metascore",
        ]
    ],
    "Country": country,
    "Genre": Genre,
    "Language":Language,
    "Original_Title": monolitic[["imdb_title_id", "original_title"]],
    "Publish_Date": monolitic[["imdb_title_id", "date_published"]],
    "Vote": monolitic[["imdb_title_id", "avg_vote", "votes"]],
    "Financial_Statement": monolitic[
        ["imdb_title_id", "budget", "usa_gross_income", "worldwide_gross_income"]
    ],
     "Reviews": monolitic[
        ["imdb_title_id", "reviews_from_users", "reviews_from_critics"]
    ],
    "Cast_Information": monolitic[["imdb_name_id", "name", "height", "bio"]],
    "Cast_Birth_Name": monolitic[["imdb_name_id", "birth_name"]],
    "Cast_Birth_and_Death_Detail": monolitic[
        [
            "imdb_name_id",
            "birth_details",
            "date_of_birth",
            "place_of_birth",
            "death_details",
            "date_of_death",
            "place_of_death",
            "reason_of_death",
        ]
    ],
    "Cast_Spouses_Detail": monolitic[
        [
            "imdb_name_id",
            "spouses_string",
            "spouses",
            "divorces",
            "spouses_with_children",
            "children",
        ]
    ],
    "Title_Principals": monolitic[
        ["imdb_title_id", "imdb_name_id", "ordering", "category", "job", "characters"]
    ],
    "Vote_Overall": monolitic[
        [
            "imdb_title_id",
            "weighted_average_vote",
            "total_votes",
            "mean_vote",
            "median_vote",
            "top1000_voters_rating",
            "top1000_voters_votes",
        ]
    ],
     "Vote_All_Rating": monolitic[
        [
            "imdb_title_id",
            "votes_10",
            "votes_9",
            "votes_8",
            "votes_7",
            "votes_6",
            "votes_5",
            "votes_4",
            "votes_3",
            "votes_2",
            "votes_1",
        ]
    ],
    "Vote_All_Gender": monolitic[
        [
            "imdb_title_id",
            "allgenders_0age_avg_vote",
            "allgenders_0age_votes",
            "allgenders_18age_avg_vote",
            "allgenders_18age_votes",
            "allgenders_30age_avg_vote",
            "allgenders_30age_votes",
            "allgenders_45age_avg_vote",
            "allgenders_45age_votes",
        ]
    ],"Vote_Male": monolitic[
        [
            "imdb_title_id",
            "males_allages_avg_vote",
            "males_allages_votes",
            "males_0age_avg_vote",
            "males_0age_votes",
            "males_18age_avg_vote",
            "males_18age_votes",
            "males_30age_avg_vote",
            "males_30age_votes",
            "males_45age_avg_vote",
            "males_45age_votes",
        ]
    ],
    "Vote_Female": monolitic[
        [
            "imdb_title_id",
            "females_allages_avg_vote",
            "females_allages_votes",
            "females_0age_avg_vote",
            "females_0age_votes",
            "females_18age_avg_vote",
            "females_18age_votes",
            "females_30age_avg_vote",
            "females_30age_votes",
            "females_45age_avg_vote",
            "females_45age_votes",
        ]
    ], "Vote_Region": monolitic[
        [
            "imdb_title_id",
            "us_voters_rating",
            "us_voters_votes",
            "non_us_voters_rating",
            "non_us_voters_votes",
        ]
    ],
}

In [9]:
ThirdNF = {tablename: ThirdNF[tablename].drop_duplicates() for tablename in ThirdNF}

In [10]:
ThirdNF["Title_Principals"] = ThirdNF["Title_Principals"].loc[
    ~ThirdNF["Title_Principals"][["imdb_name_id", "imdb_title_id"]].duplicated()
]

In [11]:
#Check the shape of each table
{
    tablename: [ThirdNF[tablename].shape, ThirdNF[tablename].iloc[:, 0].unique().shape]
    for tablename in ThirdNF
}

{'IMDb_Movie': [(85846, 10), (85846,)],
 'Country': [(108776, 2), (85785,)],
 'Genre': [(175855, 2), (85846,)],
 'Language': [(109216, 2), (85018,)],
 'Original_Title': [(85846, 2), (85846,)],
 'Publish_Date': [(85846, 2), (85846,)],
 'Vote': [(85846, 3), (85846,)],
 'Financial_Statement': [(85846, 4), (85846,)],
 'Reviews': [(85846, 3), (85846,)],
 'Cast_Information': [(297700, 4), (297700,)],
 'Cast_Birth_Name': [(297700, 2), (297700,)],
 'Cast_Birth_and_Death_Detail': [(297700, 8), (297700,)],
 'Cast_Spouses_Detail': [(297700, 6), (297700,)],
 'Title_Principals': [(835477, 6), (85846,)],
 'Vote_Overall': [(85846, 7), (85846,)],
 'Vote_All_Rating': [(85846, 11), (85846,)],
 'Vote_All_Gender': [(85846, 9), (85846,)],
 'Vote_Male': [(85846, 11), (85846,)],
 'Vote_Female': [(85846, 11), (85846,)],
 'Vote_Region': [(85846, 5), (85846,)]}

## Loading data

In [12]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [13]:
#!pip install sqlalchemy psycopg2-binary
#from sqlalchemy import create_engine

#connect the pgadmin
db_string = "postgresql://postgres:Wyq961210@localhost:1210/Group Assignment"
db = create_engine(db_string)

# Alternative to_sql() *method* for DBs that support COPY FROM
import csv
from io import StringIO

def psql_insert_copy(table, conn, keys, data_iter):
    """
    Execute SQL statement inserting data

    Parameters
    ----------
    table : pandas.io.sql.SQLTable
    conn : sqlalchemy.engine.Engine or sqlalchemy.engine.Connection
    keys : list of str
        Column names
    data_iter : Iterable that iterates the values to be inserted
    """
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

In [14]:
#load data
for tablename in ThirdNF:
  ThirdNF[tablename].to_sql(tablename.lower(), db, if_exists='append', index=False, method = psql_insert_copy)